body {
    margin: 0;
    padding: 0;
    font-family: "Jost-Regular", serif;
    background-color: #EEEEEE;
    text-align: left;
}

/*Таблица под шапкой*/
.main_table {
    width: 99%;
    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    vertical-align: top;
}

/*Первый столбец*/
.sorting_column {
    width: 25%;
    vertical-align: top; /* Выравнивание по верхней границе */
}

/*Столбец слева с сортировкой*/
.sorting_table {
    position: sticky;
    top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid #222831;
    padding: 10px;
    border-radius: 10px;
    background-color: #EEEEEE;
    z-index: 1; /* Обеспечивает, что sorting_table будет отображаться поверх других элементов */
}

.titles_sorting_table {
    font-family: "Jost-Bold", serif;
    font-size: 20px;
    color: #222831;
}

.select_genre {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input_search_by_year {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input_search_by_rating {
    margin-top: 10px;
    margin-bottom: 10px;
}

.search_button {
    width: 75px;
    height: 25px;
    border-width: 0.5px;
    border-radius: 10px;
    border-color: #00BCC5;
}

/*Столбец со свеми карточками*/
.films_column {
    vertical-align: text-top;
    padding: 10px;
}

/*Заголовок с надписями над карточками фильмов*/
.films_column_title {
    align-items: flex-end;
    display: flex;
    height: 35px;
    justify-content: space-between;
}

/*Надпись MOVIES*/
.title {
    font-family: "Jost-Bold", serif;
    font-size: 24px;
    align-self: center;
    color: #222831;
}


/*Отдельная карточка фильма*/
.film-card {
    max-width: 99%;
    height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    border: 1px solid #222831;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden; /* Add this line to prevent overflow */
    position: relative; /* Add this line to use absolute positioning for child elements */
}

/* Номер фильма и постер */
.film-info {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.film-poster {
    height: 180px;
    width: 180px; /* Устанавливаем максимальную высоту по высоте родительского контейнера */
    border-radius: 10px; /* Регулируйте радиус закругления краев по вашему вкусу */
    overflow: hidden; /* Обрезаем изображение, чтобы оно соответствовало границам с закругленными углами */
    object-fit: cover; /* Заполняем изображение внутри контейнера, сохраняя пропорции */
}

.film-card div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.film-title {
    font-family: Jost-Bold, serif;
    font-size: 32px;
    color: #222831;
    margin-bottom: 10px;
}

.info_after_name{
    color: #222831;
    font-family: Jost-Regular, serif;
    font-size: 18px;
}

.film-year-and-duration {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add margin to separate from genres */
}

.film-year{
    margin-right: 10px;
}

.film-genres{
    display: inline-flex;
}

/* Рейтинг */
.film-rating {
    position: absolute;
    top: 10px;
    right: 20px;
    font-family: Jost-Bold, serif;
    font-size: 28px;
    color: #222831;
}

.film-trailer {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: #B5C6B8;
    border-radius: 10px;
    border-color: transparent;
    color: #222831;
    padding: 5px 10px;
    font-family: Jost-Regular, serif;
    font-size: 20px;
}



@font-face {
    font-family: "Jost-Regular";
    src: url("../fonts/Jost-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Jost-Bold";
    src: url("../fonts/Jost-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}


