<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/films-gallery.css" rel="stylesheet">
</head>
<body>

<div class="header">
    <link href="../static/css/header.css" rel="stylesheet">
    <div class="logo">
        <img src="../static/icons/site_name_and_logo.svg" alt="Site Icon">
    </div>

    <div class="search-bar">
        <input type="text" class="search-input" placeholder="Search...">
        <div class="search-icon">
            <img src="../static/icons/lupa_icon.svg" alt="Search Icon">
        </div>
    </div>

    <div class="profile-icon">
        <img src="../static/icons/profile_icon.svg" alt="Profile Icon" width="40px" height="40px">
    </div>
</div>

<table class="main_table">
    <tr>
        <td class="sorting_column"> <!--Первый столбец-->
            <form th:action="@{/homepage}" th:method="post" autocomplete="off">
                <div class="sorting_table"> <!-- Таблица сортирвки -->
                    <div class="titles_sorting_table">
                        Genres
                    </div>
                    <div class="select_genre">
                        <select name="genre">
                            <option value="">All genres</option>
                            <option th:each="genre: ${genre}" th:value="${genre.genreId}"
                                    th:text="${genre.genreName}"></option>
                        </select>
                    </div>
                    <div class="titles_sorting_table">
                        Release Year
                    </div>
                    <div class="input_search_by_year">
                        <input type="number" name="startYear" placeholder="...">
                        to
                        <input type="number" name="endYear" placeholder="...">
                    </div>
                    <div class="titles_sorting_table">
                        MRS Rating
                    </div>
                    <div class="input_search_by_rating">
                        <input type="number" step="any" name="startRating" placeholder="...">
                        to
                        <input type="text" step="any" name="endRating" placeholder="...">
                    </div>
                    <button type="submit" class="search_button">
                        Search
                    </button>
                </div>
            </form>
        </td>
        <td class="films_column"> <!--Второй столбец-->
            <div class="films_column_title">
                <div class="numbers_of_movies">
                    <!--100 movies-->
                    <!--Количество фильмов-->
                </div>
                <div class="title">
                    MOVIES
                </div>
                <div class="sort_by">
                    <!--Sort By >-->
                </div>
            </div>
            <div class="film-list">
                <div th:each="film: ${film}" class="film-card">
                   <!-- <div class="film-info">
                        &lt;!&ndash; Номер фильма в списке &ndash;&gt;
                        <div class="film-number" th:text="${film.getFilmId}"></div>

                    </div>-->

                    <div class="film-info">
                        <!-- Постер фильма через URL на внешний ресурс -->
                        <img class="film-poster" th:src="${film.getFilmImageUrl}" alt="Film Poster">
                    </div>

                    <div class="film-details">
                        <!-- Название фильма -->
                        <div class="film-title">
                            <a th:href="@{/film/{filmId}(filmId=${film.getFilmId})}">
                                <span th:text="${film.getFilmName}"
                                      style="color: #222831; text-decoration: underline;"></span>
                            </a>
                        </div>

                        <!-- Год выпуска, Продолжительность фильма -->
                        <div class="film-year-and-duration">
                            <div class="film-year" th:text="${film.getReleaseDate}"></div>
                            <div class="film-duration" th:text="${film.getDuration}"></div>
                        </div>

                        <!-- Жанр -->
                        <div class="film-genres" th:each="genre: ${film.getGenres()}">
                            <div th:text="${genre.getGenreName()}"></div>
                        </div>


                        <!-- Рейтинг -->
                        <div class="film-rating" th:text="${film.getAverageRating}"></div>

                        <!-- Ссылка на трейлер фильма -->
                        <a class="film-trailer" th:href="${film.getTrailerUrl}" target="_blank">Watch Trailer</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
</body>
</html>

