<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="'Profile: ' + ${#authentication.getPrincipal().getLogin()}"></title>
    <link href="../static/css/profile-page.css" rel="stylesheet">
</head>
<body>

<div class="header">
    <link href="../static/css/header.css" rel="stylesheet">
    <a th:href="@{/homepage}" class="logo">
        <img src="../static/icons/site_name_and_logo.svg" alt="Site Icon">
    </a>


    <div class="search-bar">
        <input type="text" class="search-input" placeholder="Search...">
        <div class="search-icon">
            <img src="../static/icons/lupa_icon.svg" alt="Search Icon">
        </div>
    </div>


    <a th:href="@{/profile}" class="profile-icon">
        <img src="../static/icons/profile_icon.svg" alt="Profile Icon" width="40px" height="40px">
    </a>
</div>

<div>
    <div class="rectangle">
        <div class="login_row">
            <div class="login" th:text="${#authentication.getPrincipal().getLogin}"></div>
            <!--<img src="../static/icons/edit_icon.svg" alt="Edit icon" style="margin-right: 20px">-->
            <form th:action="@{/logout}" method="post" >
                <button class="logout-button">Logout</button>
            </form>
            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/adminPage}" class="admin-button">
                Go to Admin Page
            </a>
        </div>

        <div class="table-container">
            <table class="custom-table">
                <tr>
                    <td class="first_column">
                        <div class="inscription">Reviews</div>

                        <div th:each="review: ${review}" class="review-card">
                            <div class="review-title">
                                <div class="review_owner" th:text="${review.getUser().getLogin()}"></div>
                                <div class="review_owner" th:text="${review.getFilm().getFilmName}"></div>
                            </div>
                            <div class="review_header" th:text="${review.getHeader()}"></div>
                            <div class="review_text" th:text="${review.getReview()}"></div>

                            <button class="delete-button" th:onclick="'showConfirmation(' + ${review.getReviewId()} + '); return false;'">Delete review</button>

                            <form th:action="@{/deleteReview}" th:method="post" th:id="'deleteReviewForm_' + ${review.getReviewId()}" style="display: none;">
                                <input type="hidden" th:id="'reviewIdInput_' + ${review.getReviewId()}" name="reviewId" th:value="${review.getReviewId()}"/>
                            </form>

                            <script th:inline="javascript">
                                function showConfirmation(reviewId) {
                                    var confirmation = confirm("Вы уверены, что хотите удалить этот отзыв?");
                                    if (confirmation) {
                                        var form = document.getElementById('deleteReviewForm_' + reviewId);
                                        if (form) {
                                            form.action = '/deleteReview';
                                            document.getElementById('reviewIdInput_' + reviewId).value = reviewId;
                                            form.submit();
                                        } else {
                                            console.error("Form not found.");
                                        }
                                    } else {
                                        alert("Удаление отменено.");
                                        // Другие действия при отмене, если необходимо
                                    }
                                }
                            </script>
                        </div>
                    </td>
                    <td class="second_column" >
                        <div class="inscription">Rated movies</div>
                        <div th:each="grade: ${grade}" class="review-card">
                            <div class="movie-rating">
                                <span th:text="${grade.film.filmName}"></span>
                                <span th:text="${grade.gradeByUser} + '/10'"></span>

                                <span th:if="${grade.getUser().getId() == #authentication.getPrincipal().getId
                                and likedFilmIds.contains(grade.film.filmId)}" class="liked">(Liked)</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>
