<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link href="../static/css/auth&registration.css" rel="stylesheet" >
    </head>
    <body>
        <div th:if="${param.error}" style="color: red;">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/signin}" method="post">
            <div><label> Username : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
            <div>Нет аккаунта? <a href="/signup">Зарегистрируйтесь</a></div>
        </form>

    </body>
</html>

